@import './styles/layouts/desktoplayout.css';
@import './styles/auth/signin.css';
@import './styles/auth/signup.css';

:root{
  --lg-gap: 1rem;
  --sm-gap: 0.5rem;
}


.main-layout {
  height: 100%;
}

.dark {
  background-color: #131629;
  color: #fff;
}
